$phone-font-size: 14px;
$tablet-font-size: 22px;
$desktop-font-size: 25px;

$breakpoint-phone: 0px;
$breakpoint-large-phone: 410px;
$breakpoint-tablet: 760px;
$breakpoint-small-desktop: 1360px;
$breakpoint-large-desktop: 1900px;

$breakpoint-phone-landscape: 0px;
$breakpoint-large-phone-landscape: 800px;
$breakpoint-tablet-landscape: 1000px;

$font-color-primary: white;

$header-bg-color: #1b4332;
$main-bg-color: #777777;

$primary-font-family: 'Roboto', sans-serif;
$default-font-family: 'Arial', sans-serif;
