@import '../../Assets/Styles/Variables.module.scss';

.location {
  width: 100%;
  height: 100vh;
  background-color: $main-bg-color;
  position: relative;
  &__title {
    text-align: center;
    color: $font-color-primary;
    padding-top: 15px;
    text-shadow: 2px 2px 5px black;
    @media (min-width: $breakpoint-phone) {
      font-size: 30px;
    }
    @media (min-width: $breakpoint-large-phone) {
      font-size: 35px;
    }
    @media (min-width: $breakpoint-tablet) {
      font-size: 45px;
    }
    @media (min-width: $breakpoint-small-desktop) {
      font-size: 50px;
    }
  }
  &__map_1 {
    width: 90%;
    height: 70vh;
    background-image: url('../../Assets/images/map.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__map_2 {
    width: 90%;
    height: 70vh;
    background-image: url('../../Assets/images/map2.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__btn {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #74c69d;
    padding: 5px;
    border: 2px solid #2d6a4f;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s;
    outline: none;
    &:hover {
      background-color: #081c15;
      color: #d8f3dc;
      border-color: #d8f3dc;
    }
    @media (min-width: $breakpoint-phone) {
      font-size: 20px;
    }
    @media (min-width: $breakpoint-large-phone) {
      font-size: 22px;
    }
    @media (min-width: $breakpoint-tablet) {
      font-size: 30px;
    }
    @media (min-width: $breakpoint-small-desktop) {
      font-size: 33px;
    }
  }
}
